body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}


input[type="text"], input[type="number"] {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
}
button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}

#container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 400px;
    margin: auto;
}

@media (max-width: 600px) {
    form {
        width: 100%;
        padding: 10px;
    }
    input[type="text"], input[type="number"] {
        width: 100%;
    }
}
#message {
    margin-top: 10px;
}


